.HomeHeader{
 display: flex;
 align-items: center;
 justify-content: space-between;
}


.profiledeatils{
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
}
.profileimage{
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}
.username{
    font-weight: bold;
}
.homeBody{
    max-width: 80%;
    margin: 0px auto;
}
@media (max-width:768px) {
    .homeBody{
        max-width: 100%;
        padding: 0px 10px;
    }
}