.HomeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    padding: 0px 3rem;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 127, 80, 0.411);
  }

  .off{
    font-size: 12px !important;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .on{
    font-size: 12px !important;
    background-color: #000000;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .premium{
    background-color: rgb(65, 155, 65);
    color: white;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .heading{user-select: none;}
  .logout {
    /* opacity: 0; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 8px;
    bottom: -27%;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.homeBodyLight{
    max-width: 80%;
    margin: 0px auto;
    background-color: #fff;
   
}
.homeBodyDark{
  max-width: 80%;
  margin: 0px auto;
  background-color: #00000075;
}
@media (max-width:768px) {
    .homeBody{
        max-width: 100%;
        padding: 0px 10px;
    }
}