.HomeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    padding: 0px 3rem;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 127, 80, 0.411);
  }
  
  .logout {
    /* opacity: 0; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 8px;
    bottom: -27%;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.homeBody{
    max-width: 80%;
    margin: 0px auto;
   
}
@media (max-width:768px) {
    .homeBody{
        max-width: 100%;
        padding: 0px 10px;
    }
}